@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }


  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
  }


  .certificates {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .certificate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
    transition: background-color 0.3s; /* Add transition for smooth effect */
}

.certificate:hover {
    background-color: #3b5998; /* Change background color on hover */
  }

.certificate a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    width: 100%;
  }

.certificate img {
    width: 100px;
    border-radius: 50%;
  }
  
  .certificateDetails {
    font-family: var(--font-roboto);
  }
  
  .certificateDetails h3 {
    font-size: 30px;
    font-weight: 500;
  }
  
  .certificateDetails p {
    font-size: 20px;
    font-weight: 300;
  }

  .certificateDetails h4 {
    font-size: 25px;
    font-weight: 400;
    position: relative;
    padding-left: 20px; /* Space for the bullet point */
  }
  
  .certificateDetails h4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px; /* Size of the bullet point */
    height: 8px;
    background-color: #fbfbfb; /* Color of the bullet point */
    border-radius: 50%; /* Shape of the bullet point (circle) */
  }

  @media screen and (max-width: 830px) {

    .title {
      font-size: 30px;
    }
  
    .certificates{
      width: 100%;
    }

    .certificate{
      padding-right: 0px;
      padding-left: 10px;
    }
    
    .certificateDetails h3 {
      font-size: 22px;
    }
    
    .certificateDetails p {
      font-size: 16px
    }
  
    .certificateDetails h4 {
      font-size: 20px;
    }

    .certificate img{
      height: 50px;
      width: 50px;
    }
  
}